<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705909887183-9vgdkgl5ke71a0dva4rg8dpjgtaa6jhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705909887183-9vgdkgl5ke71a0dva4rg8dpjgtaa6jhv</string>
	<key>API_KEY</key>
	<string>AIzaSyAISanaehs7_1u7NnlkldQFnIlJim2P0CY</string>
	<key>GCM_SENDER_ID</key>
	<string>705909887183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.staton</string>
	<key>PROJECT_ID</key>
	<string>staton-9a0a2</string>
	<key>STORAGE_BUCKET</key>
	<string>staton-9a0a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705909887183:ios:65db75666620d6ff3627ba</string>
	<key>DATABASE_URL</key>
	<string>https://staton-9a0a2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>